<div class="row">

    <div class="col-sm-12 m-b-15">
        <div id="main-search" class="main-search open">
            <div class="input-group">
                <input type="text" id="m-search" class="form-control" placeholder="Search . . ." (keyup)="verifyingSearch($event)">
                <span class="input-group-append search-btn btn btn-primary feather icon-search input-group-text" (click)="Search()">
                </span>
            </div>
        </div>

    </div>



    <div class="col-md-4">
        <app-card [options]="false" cardTitle="Liste des Administrateurs">
            <perfect-scrollbar style="min-height: 10px;max-height: 280px;">
                <div class="col-md-12">
                    <ng-container>
                        <ng-container *ngFor="let admin of allUser;let adminIndex=index;">
                            <app-alert style="cursor: pointer;" [type]="adminsColor[adminIndex]" (mouseenter)="hoverOn(adminIndex)" (mouseleave)="hoverOff(adminIndex)" (click)="adminClicked(adminIndex)">

                                <div class="row" style="margin-left: -20px;margin-right: -10px;">
                                    <div id="searche"></div>
                                    <h6 class="col-md-12 text-left">{{admin.name}} </h6>
                                </div>
                            </app-alert>
                        </ng-container>
                    </ng-container>
                </div>
            </perfect-scrollbar>
        </app-card>
    </div>

    <div class="col-md-8">
        <app-card [options]="false" cardTitle="Details de l'Administrateur" style="background-color: red;">
            <perfect-scrollbar style="min-height: 10px;max-height: 245px;">
                <div class="table-responsive" *ngIf="!adminIndex">
                    <table class="table">
                        <thead>
                        </thead>
                        <tbody>


                            <tr>
                                <th>Prénom</th>
                                <th>{{clickedAdmin.lastName}}</th>
                                <th>
                                </th>
                            </tr>
                            <tr>
                                <th>Nom</th>
                                <th>{{clickedAdmin.name}}</th>
                                <th style="text-align: right;">
                                </th>
                            </tr>
                            <tr>
                                <th>Numéro de Téléphone</th>
                                <th>{{clickedAdmin.phone_number}}</th>

                            </tr>
                            <tr>
                                <th>Cin</th>
                                <th>{{clickedAdmin.cin}}</th>

                            </tr>
                            <tr>
                                <th>Adresse Email</th>
                                <th>{{clickedAdmin.email}}</th>

                            </tr>
                            <tr>
                                <th>Adress</th>
                                <th>{{clickedAdmin.adress}}</th>
                                <th style="text-align: right;">
                                </th>
                            </tr>




                        </tbody>
                    </table>
                    <div class="col-sm-12">
                        <h5>Roles</h5>

                        <div class="row">


                            <ul class="col-md-4" *ngFor="let titleRole of clickedAdmin.roles; let rolTypeIndex=index ">

                                <li>{{titleRole.name}}</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="table-responsive" *ngIf="updateUser">

                    <form autocomplete="off" [formGroup]="AddForm">
                        <perfect-scrollbar style="min-height: 10px;max-height: 245px;">


                            <table class="table" *ngIf="!showAlert">
                                <thead>
                                </thead>
                                <tbody>


                                    <tr>
                                        <th>Prenom</th>
                                        <th>
                                            <input type="text" class="form-control" formControlName="lastName" required [readonly]="isSubmitted">
                                        </th>
                                        <th>
                                        </th>
                                        <th>Nom</th>
                                        <th>
                                            <input type="email" class="form-control" formControlName="name" required [readonly]="isSubmitted">
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>Adress</th>
                                        <th>
                                            <input type="email" class="form-control" formControlName="adress" required [readonly]="isSubmitted">
                                        </th>
                                        <th>
                                        </th>
                                        <th>Téléphone</th>
                                        <th>
                                            <input type="email" class="form-control" formControlName="phone_number" required [readonly]="isSubmitted">
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>Cin</th>
                                        <th>
                                            <input type="email" class="form-control" formControlName="cin" required [readonly]="isSubmitted">
                                        </th>
                                        <th>
                                        </th>
                                        <th>Email</th>
                                        <th>
                                            <input type="email" class="form-control" formControlName="email" required [readonly]="isSubmitted">
                                        </th>
                                        <th>
                                        </th>
                                    </tr>













                                </tbody>
                            </table>

                            <div class="col-sm-12" *ngIf="!showAlert">
                                <h5>Roles</h5>

                                <div class="row">


                                    <div class="col-md-4 " *ngFor="let titleRole of checkboxesDataList; let rolTypeIndex=index ">

                                        <div *ngFor="let role of titleRole.roles ; let rolIndex=index">

                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" [checked]="role.checked" class="custom-control-input" formControlName="roles" required id="{{role.val}}" (change)="roleClick(rolTypeIndex,rolIndex)">
                                                <label class="custom-control-label" for="{{role.val}}">{{role.val}}</label>
                                            </div>

                                        </div>





                                    </div>
                                </div>

                            </div>
                        </perfect-scrollbar>


                        <app-alert type={{alertType}} *ngIf="showAlert">{{alertMessage}} </app-alert>
                    </form>


                </div>


            </perfect-scrollbar>
            <div class="row">
                <div class="col-md-12 text-center">
                    <!--  -->
                    <div>
                        <button type="button" class="btn btn-success" (click)="Update()" *ngIf="!UpdateConfirmed && !showAlert">Mettre à jour</button>
                        <button type="button" class="btn btn-danger" *ngIf="!UpdateConfirmed && !showAlert" (click)="Supprimer()">Supprimer</button>
                        <button type="button" class="btn btn-success" (click)="Confirmer()" *ngIf="UpdateConfirmed && !showAlert ">Confirmer</button>
                    </div>
                </div>
            </div>
        </app-card>
    </div>

</div>