.card.full-card {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 99999;
    border-radius: 0;
    width: calc(100vw) !important;
    height: 100vh !important;
}

.title {
    margin-left: 10%;
    width: 80%;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    text-align: center;
}