<div class="row">
    <div class="col-sm-12 m-b-15" *ngIf="showSearch">

        <div id="main-search" class="main-search open">
            <div class="input-group">
                <input type="text" value="" [(ngModel)]="search" id="m-search" class="form-control" placeholder="Search . . ." (click)="SfSearch()" (keyup)="SfSearch($event) ">
                <span class="input-group-append search-btn btn btn-primary feather icon-search input-group-text" (click)="Search()">
                </span>
            </div>
        </div>
    </div>

    <div class="col-sm-12 m-b-15" *ngIf="showSearch">
        Chercher Avec SfipementFile :
        <div class="custom-control custom-radio custom-control-inline" style="margin-left: 2%;">
            <input type="radio" id="customRadioInline5" name="customRadioInline1" value="Gaz" #val5 class="custom-control-input" (click)="GetSfByType(val5)">
            <label class="custom-control-label" for="customRadioInline5">Gaz</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline" style="margin-left: 2%;">
            <input type="radio" id="customRadioInline7" name="customRadioInline1" value="ELEC" #val7 class="custom-control-input" (click)="GetSfByType(val7)">
            <label class="custom-control-label" for="customRadioInline7">Electrique</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline" style="margin-left: 2%;">
            <input type="radio" id="customRadioInline1" name="customRadioInline1" value="Import-Aborded" #val class="custom-control-input" (click)="cherchStatus(val)">
            <label class="custom-control-label" for="customRadioInline1">Import-Aborded</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline2" name="customRadioInline1" value="Kms_Processing" #val1 class="custom-control-input" (click)="cherchStatus(val1)">
            <label class="custom-control-label" for="customRadioInline2">Kms Processing</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline3" name="customRadioInline1" value="Odm_Processing" #val2 class="custom-control-input" (click)="cherchStatus(val2)">
            <label class="custom-control-label" for="customRadioInline3">ODM Processing</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline4" name="customRadioInline1" value="tous" #val4 class="custom-control-input" (click)="cherchStatus(val4)">
            <label class="custom-control-label" for="customRadioInline4">Tous</label>
        </div>

    </div>


    <div class="col-md-12" *ngIf="!ShowDetails">
        <app-card cardTitle="Listes ShipmentFiles" blockClass="table-border-style">
            <perfect-scrollbar style="min-height: 10px;max-height: 500px;">
                <div class="table table-hover">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Numéro</th>
                                <th>Nom</th>
                                <th>Type </th>
                                <th>Status</th>
                                <th>Nbr Compteur</th>
                                <th>Détails</th>
                            </tr>
                        </thead>

                        <tbody *ngFor="let sf of shipmentFile;let SFIndex=index;">
                            <tr style="cursor: pointer;">
                                <td>{{sf.id}}</td>
                                <td>{{sf.name}}</td>


                                <td>{{sf.type_compteur}}</td>


                                <td>


                                    <div [ngClass]="{'ValidStat' : sf.status=='Provisioned','Encour' : sf.status=='Odm_Processing' || sf.status=='Kms_Processing','InvalidStat' :sf.status=='Rejected' || sf.status=='Import-Aborded'  }">{{sf.status}}
                                        <i class="feather" [ngClass]="{'icon-x-circle':sf.status=='Rejected' || sf.status=='Import-Aborded' ,'icon-loader':sf.status=='Odm_Processing'}"></i> </div>

                                </td>
                                <td>{{sf.nbr_meters}}</td>

                                <td>
                                    <div class="voirDetails" (click)="ShipmentFileClicked(SFIndex)">
                                        <span>VoirDétails</span> <i class="feather icon-eye"></i>
                                    </div>

                                </td>

                            </tr>


                        </tbody>


                    </table>


                </div>
            </perfect-scrollbar>
            <ngb-pagination style="margin-top: 1%;" class="d-flex justify-content-center" [collectionSize]="120" [(page)]="page" [maxSize]="8" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="pageChange()"></ngb-pagination>

        </app-card>
    </div>
    <div class="col-md-12" *ngIf="ShowDetails">
        <app-card cardTitle="{{clickedSf.name}}" blockClass="table-border-style">
            <p class="col-md-12 text-right" id="ListSF" (click)="ReturnToList()">listes des Sfipenetfile <i class="feather icon-corner-down-left"></i></p>
            <div class="col-sm-12 m-b-15 text-right" *ngIf="!showSearch">

                Meters Activation_Failed :
                <div class="custom-control custom-radio custom-control-inline" style="margin-left: 2%;">
                    <input type="radio" id="customRadioInline8" name="customRadioInline1" value="Activation_Failed" #val8 class="custom-control-input" (click)="GetMetrActivationFailed(val8,clickedSf.name)">
                    <label class="custom-control-label" for="customRadioInline8">Activation_Failed</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline" style="margin-left: 2%;">
                    <input type="radio" id="customRadioInline9" name="customRadioInline1" value="Tous" #val9 class="custom-control-input" (click)="GetMetrActivationFailed(val9,clickedSf.name)">
                    <label class="custom-control-label" for="customRadioInline9">Tous</label>
                </div>


            </div>
            <ngb-tabset>
                <ngb-tab title="Info">
                    <ng-template ngbTabContent>
                        <perfect-scrollbar style="min-height: 10px;max-height: 245px;">
                            <div class="table-responsive">
                                <div class="table">
                                    <tbody>
                                        <tr>
                                            <th>Name</th>
                                            <th></th>
                                            <th>{{clickedSf.name}}</th>
                                        </tr>
                                        <tr>
                                            <th>Type</th>
                                            <th></th>
                                            <th>{{clickedSf.type_compteur}}</th>

                                        </tr>
                                        <tr>
                                            <tr>
                                                <th>status</th>
                                                <th></th>
                                                <th>{{clickedSf.status}}</th>

                                            </tr>
                                            <tr>
                                                <tr>
                                                    <th>Date De changement</th>
                                                    <th></th>
                                                    <th>{{DateChangement_Status | date:'medium'}}</th>

                                                </tr>
                                    </tbody>
                                    <div style="text-align: center; margin-top: -2%;" *ngIf="ISImportAbord">
                                        <button type="button" class="btn btn-success" *ngIf="ISImportAbord_KMS && clickedSf.nbr_meters" (click)="ResumerSF(clickedSf.name)">Resume</button>
                                        <button type="button" class="btn btn-danger" (click)="RejecterSF(clickedSf.name)">Reject</button>
                                        <p style="margin-top: 2%;">Vous Avez encore {{msg_nbr_Resume}} tentative de resume </p>
                                    </div>
                                </div>
                            </div>
                        </perfect-scrollbar>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="User">
                    <ng-template ngbTabContent>
                        <perfect-scrollbar style="min-height: 10px;max-height: 245px;">
                            <div class="table-responsive" *ngIf="DragDrop">
                                <table class="table">

                                    <tbody>


                                        <tr>
                                            <th>Prénom</th>
                                            <th>{{clickedSf.user.lastName}}</th>
                                            <th>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>Nom</th>
                                            <th>{{clickedSf.user.name}}</th>
                                            <th style="text-align: right;">
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>Numéro de Téléphone</th>
                                            <th>{{clickedSf.user.phone_number}}</th>

                                        </tr>
                                        <tr>
                                            <th>Cin</th>
                                            <th>{{clickedSf.user.cin}}</th>

                                        </tr>
                                        <tr>
                                            <th>Adresse Email</th>
                                            <th>{{clickedSf.user.email}}</th>

                                        </tr>
                                        <tr>
                                            <th>Adress</th>
                                            <th>{{clickedSf.user.adress}}</th>

                                        </tr>




                                    </tbody>
                                </table>
                                <div class="col-sm-12">
                                    <h5>Roles</h5>

                                    <div class="row">


                                        <ul class="col-md-4" *ngFor="let titleRole of clickedSf.user.roles; let rolTypeIndex=index ">

                                            <li>{{titleRole.name}}</li>
                                        </ul>
                                    </div>

                                </div>
                            </div>

                        </perfect-scrollbar>
                        <div *ngIf="!DragDrop">
                            <p style="margin-top: 2%;">SfipmentFile est ajouter avec Drag && Drop</p>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Historique">
                    <ng-template ngbTabContent>
                        <perfect-scrollbar style="min-height: 10px;max-height: 245px;">

                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>

                                            <th>Status</th>
                                            <th>Raison</th>
                                            <th>Date de modefication</th>
                                        </tr>
                                    </thead>

                                    <tbody *ngFor="let hist of historiques">

                                        <tr>

                                            <td>{{hist.nomStatus}}</td>
                                            <td>{{hist.raison}}</td>
                                            <td>{{hist.idHistorique.modefication_sf | date:'medium'}}</td>
                                        </tr>

                                    </tbody>

                                </table>
                            </div>

                        </perfect-scrollbar>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Meters" *ngIf="showList_Meters">
                    <ng-template ngbTabContent>

                        <perfect-scrollbar style="min-height: 10px;max-height: 420px;">

                            <div class="table table-hover">

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Numéro</th>

                                            <th>Type</th>
                                            <th>Status</th>
                                            <th>Connected</th>
                                            <th>Amr_Router</th>
                                            <th *ngIf="Show_Cahnnel">Channel</th>
                                            <th>Historique</th>
                                            <th>ConfigParam</th>
                                            <th>Map</th>
                                        </tr>
                                    </thead>

                                    <tbody *ngFor="let meter of meters;let MeterIndex=index;">
                                        <tr style="cursor: pointer;">
                                            <td>{{meter.mrid}}</td>

                                            <td>{{meter.meter_Type}}</td>
                                            <td>{{meter.status}}<button style="margin-left: 2%;" *ngIf="meter.status=='Activation_Failed' && meter.nbrRetry!='3'" type="button" class="btn btn-outline-warning" ngbTooltip="Vous avez fait {{meter.nbrRetry}} retry "
                                                    (click)="RetryMeterFailed(meter.mrid)">Retry <i class="feather icon-refresh-ccw"></i></button>
                                                <button type="button" style="margin-left: 2%;" class="btn disabled btn-warning" *ngIf="meter.status=='Activation_Failed' && meter.nbrRetry=='3'" ngbTooltip="vous avez terminé le nombre de Retry=3">Retry <i class="feather icon-lock"></i></button>

                                            </td>
                                            <td [ngClass]="{'ValidStat' :meter.is_Connected==true,'InvalidStat':meter.is_Connected==false}">{{meter.is_Connected}}</td>
                                            <td>{{meter.amr_Router}}</td>
                                            <td *ngIf="Show_Cahnnel">{{meter.channel}}</td>
                                            <td *ngIf="meter.status=='Provisioned'">Voir hist <i class="feather icon-eye-off"></i></td>
                                            <td class="History" (click)="ShowHistoMeter(exampleModalCenter,meter.mrid)" *ngIf="meter.status!='Provisioned'">Voir hist <i class="feather icon-eye"></i></td>
                                            <td *ngIf="meter.status=='Provisioned' || meter.status=='Discovered'">Voir Confg<i class="feather icon-eye-off"></i></td>
                                            <td class="History" (click)="ShowConfgInParam(exampleConfigParam,meter.mrid)" *ngIf="!(meter.status=='Provisioned' || meter.status=='Discovered')">Voir Confg <i class="feather icon-eye"></i></td>
                                            <td *ngIf="meter.status=='Provisioned' || meter.status=='Discovered'">Voir Map<i class="feather icon-eye-off"></i></td>
                                            <td class="History" (click)="ShowMap(exampleConfigParam1,MeterIndex)" *ngIf="!(meter.status=='Provisioned' || meter.status=='Discovered')">Voir Map <i class="feather icon-eye"></i></td>

                                        </tr>


                                    </tbody>


                                </table>


                            </div>
                        </perfect-scrollbar>
                        <ngb-pagination style="margin-top: 1%;" class="d-flex justify-content-center" [collectionSize]="300000" [(page)]="pageMeter" [maxSize]="8" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="pageChangeMeter()"></ngb-pagination>

                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </app-card>
    </div>

</div>


<app-ui-modal #exampleModalCenter [hideFooter]="true" [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
        <h5 class="modal-title">Historique </h5>
        <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="exampleModalCenter.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
        <perfect-scrollbar style="min-height: 10px;max-height: 420px;">
            <div class="table table-hover">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Request Type</th>
                            <th>Date de modefication</th>
                            <th>Raison</th>
                            <th>Nombre Retry</th>



                        </tr>
                    </thead>

                    <tbody *ngFor="let hsMeter of HitoriqueMeter">
                        <tr style="cursor: pointer;">
                            <td>{{hsMeter.requestType}}</td>
                            <td>{{hsMeter.dateModefication | date:"medium"}}</td>
                            <td>{{hsMeter.raison}}</td>
                            <td>{{hsMeter.nbrRetry}}</td>


                        </tr>


                    </tbody>


                </table>


            </div>
        </perfect-scrollbar>
    </div>
</app-ui-modal>
<app-ui-modal #exampleConfigParam [hideFooter]="true" [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
        <h5 class="modal-title">Config Param </h5>
        <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="exampleConfigParam.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
        <perfect-scrollbar style="min-height: 10px;max-height: 420px;">
            <div class="table table-hover">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Numéro</th>
                            <th>nom</th>
                            <th>model_version</th>
                            <th>Date d'ajout </th>
                            <th>Current Value </th>
                            <th>description</th>


                        </tr>
                    </thead>

                    <tbody *ngFor="let configInfo of configParamInfo;let MeterIndex=index;">
                        <tr style="cursor: pointer;">
                            <td>{{MeterIndex}}</td>
                            <td>{{configInfo.configParamGeneral.nom}}</td>
                            <td>{{configInfo.configParamGeneral.model_version}}</td>
                            <td>{{configInfo.date_Ajout | date:'medium'}}</td>
                            <th>{{configInfo.currentValue}} </th>
                            <th>{{configInfo.configParamGeneral.description}} </th>


                        </tr>


                    </tbody>


                </table>


            </div>
        </perfect-scrollbar>
    </div>
</app-ui-modal>