<div class="row">
    <div class="col-xl-12">
        <app-card [hidHeader]="true">
            <div class="row">
                <div class="col-auto">
                    <h6>Utilisateurs</h6>
                </div>
                <div class="col text-right">
                    <h2 class="mb-0">1042</h2>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <h3 class="m-0"><i class="fas fa-circle text-success f-10 m-r-5"></i>50%</h3>
                    <span class="ml-3">Admin</span>
                </div>
                <div class="col">
                    <h3 class="m-0"><i class="fas fa-circle text-primary f-10 m-r-5"></i>20%</h3>
                    <span class="ml-3">Consulter User</span>
                </div>
                <div class="col">
                    <h3 class="m-0"><i class="fas fa-circle text-danger f-10 m-r-5"></i>30%</h3>
                    <span class="ml-3">Consulter SF</span>
                </div>

            </div>
            <div class="progressbar-stack mt-4">
                <div *ngFor="let bar of deviceProgressBar" [ngStyle]="{width: bar.value + '%'}" class="float-left">
                    <ngb-progressbar [type]="bar.type" height="8px" [value]="100"></ngb-progressbar>
                </div>
            </div>

        </app-card>
    </div>
    <div class="col-sm-12">
        <app-card cardTitle="Informations ShipementFile Elec " [options]="false">
            <div class="row no-gutters">
                <div class="col-md-4 col-xl-2 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>Totale</span>
                        <h3>{{sf_Dash_Elec.nbrTotalSf_Elec}}</h3>
                        <app-apex-chart chartID="analytics-apex-user-chart" [chartConfig]="this.chartDB.userAACC"></app-apex-chart>
                    </app-card>
                </div>
                <div class="col-md-4 col-xl-2 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>Provisioned</span>
                        <h3>{{sf_Dash_Elec.nbrSf_Provisioned}}</h3>
                        <app-apex-chart chartID="analytics-apex-session-chart" [chartConfig]="this.chartDB.sessionAACC"></app-apex-chart>
                    </app-card>
                </div>
                <div class="col-md-4 col-xl-2 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>Import-Aborded</span>
                        <h3>{{sf_Dash_Elec.nbrSf_Import_Aborded}}</h3>
                        <app-apex-chart chartID="analytics-apex-page-view-chart" [chartConfig]="this.chartDB.pageViewAACC"></app-apex-chart>
                    </app-card>
                </div>
                <div class="col-md-4 col-xl-2 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>KMS Processing</span>
                        <h3>{{sf_Dash_Elec.nbrSf_Kms_Processing}}</h3>
                        <app-apex-chart chartID="analytics-apex-page-session-chart" [chartConfig]="this.chartDB.pageSessionAACC"></app-apex-chart>
                    </app-card>
                </div>
                <div class="col-md-4 col-xl-2 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>ODM processing</span>
                        <h3>{{sf_Dash_Elec.nbrSf_Odm_Processing}}</h3>
                        <app-apex-chart chartID="analytics-apex-avg-session-chart" [chartConfig]="this.chartDB.avgSessionAACC"></app-apex-chart>
                    </app-card>
                </div>
                <div class="col-md-4 col-xl-2 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>Rejected</span>
                        <h3>{{sf_Dash_Elec.nbrSf_Rejected}}</h3>
                        <app-apex-chart chartID="analytics-apex-bounce-rate-chart" [chartConfig]="this.chartDB.bounceRateAACC"></app-apex-chart>
                    </app-card>
                </div>
            </div>
        </app-card>
        <app-card cardTitle="Informations Meters Elec " [options]="false">
            <div class="row no-gutters" style="margin-left: 5%;">
                <div class="col-md-4 col-xl-2 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>Totale</span>
                        <h3>{{meteDashElec.TotalMeter}}</h3>
                        <app-apex-chart chartID="analytics-apex-user-chart1" [chartConfig]="this.chartDB.userAACC"></app-apex-chart>
                    </app-card>
                </div>
                <div class="col-md-4 col-xl-2 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>Provisioned</span>
                        <h3>{{meteDashElec.MeterProvisioned}}</h3>
                        <app-apex-chart chartID="analytics-apex-session-chart2" [chartConfig]="this.chartDB.sessionAACC"></app-apex-chart>
                    </app-card>
                </div>
                <div class="col-md-4 col-xl-2 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>Discoverd</span>
                        <h3>{{meteDashElec.MeterDiscoverd}}</h3>
                        <app-apex-chart chartID="analytics-apex-page-view-chart3" [chartConfig]="this.chartDB.pageViewAACC"></app-apex-chart>
                    </app-card>
                </div>
                <div class="col-md-4 col-xl-2 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>Installed</span>
                        <h3>{{meteDashElec.MeterInstalled}}</h3>
                        <app-apex-chart chartID="analytics-apex-page-session-chart4" [chartConfig]="this.chartDB.pageSessionAACC"></app-apex-chart>
                    </app-card>
                </div>
                <div class="col-md-5 col-xl-3 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>Reconcelition Pending</span>
                        <h3>{{meteDashElec.Meter_Reconcilition_Pending}}</h3>
                        <app-apex-chart chartID="analytics-apex-avg-session-chart5" [chartConfig]="this.chartDB.avgSessionAACC"></app-apex-chart>
                    </app-card>
                </div>
            </div>
            <div class="row no-gutters" style="margin-left: 5%;">
                <div class="col-md-5 col-xl-3 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>Activation Pending</span>
                        <h3>{{meteDashElec.Meter_Activation_Pending}}</h3>
                        <app-apex-chart chartID="analytics-apex-user-chart6" [chartConfig]="this.chartDB.userAACC"></app-apex-chart>
                    </app-card>
                </div>
                <div class="col-md-4 col-xl-2 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>Activated</span>
                        <h3>{{meteDashElec.MeterActivated}}</h3>
                        <app-apex-chart chartID="analytics-apex-session-chart7" [chartConfig]="this.chartDB.sessionAACC"></app-apex-chart>
                    </app-card>
                </div>
                <div class="col-md-4 col-xl-2 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>Activated Failed</span>
                        <h3>{{meteDashElec.MeterActivated_Failed}}</h3>
                        <app-apex-chart chartID="analytics-apex-page-view-chart8" [chartConfig]="this.chartDB.pageViewAACC"></app-apex-chart>
                    </app-card>
                </div>
                <div class="col-md-4 col-xl-2 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>Deleted</span>
                        <h3>{{meteDashElec.MeterDeleted}}</h3>
                        <app-apex-chart chartID="analytics-apex-page-session-chart9" [chartConfig]="this.chartDB.pageSessionAACC"></app-apex-chart>
                    </app-card>
                </div>
                <div class="col-md-4 col-xl-2 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>Scraped</span>
                        <h3>{{meteDashElec.MeterScraped}}</h3>
                        <app-apex-chart chartID="analytics-apex-avg-session-chart10" [chartConfig]="this.chartDB.avgSessionAACC"></app-apex-chart>
                    </app-card>
                </div>

            </div>
        </app-card>
        <app-card cardTitle="Informations ShipementFile Gaz " [options]="false">
            <div class="row no-gutters">
                <div class="col-md-4 col-xl-2 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>Totale</span>
                        <h3>{{Sf_dash_Gaz.nbrTotalSf_Gaz}}</h3>
                        <app-apex-chart chartID="analytics-apex-user-chart11" [chartConfig]="this.chartDB.userAACC"></app-apex-chart>
                    </app-card>
                </div>
                <div class="col-md-4 col-xl-2 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>Provisioned</span>
                        <h3>{{Sf_dash_Gaz.nbrSf_Provisioned}}</h3>
                        <app-apex-chart chartID="analytics-apex-session-chart12" [chartConfig]="this.chartDB.sessionAACC"></app-apex-chart>
                    </app-card>
                </div>
                <div class="col-md-4 col-xl-2 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>Import-Aborded</span>
                        <h3>{{Sf_dash_Gaz.nbrSf_Import_Aborded}}</h3>
                        <app-apex-chart chartID="analytics-apex-page-view-chart13" [chartConfig]="this.chartDB.pageViewAACC"></app-apex-chart>
                    </app-card>
                </div>
                <div class="col-md-4 col-xl-2 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>KMS Processing</span>
                        <h3>{{Sf_dash_Gaz.nbrSf_Kms_Processing}}</h3>
                        <app-apex-chart chartID="analytics-apex-page-session-chart14" [chartConfig]="this.chartDB.pageSessionAACC"></app-apex-chart>
                    </app-card>
                </div>
                <div class="col-md-4 col-xl-2 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>ODM processing</span>
                        <h3>{{Sf_dash_Gaz.nbrSf_Odm_Processing}}</h3>
                        <app-apex-chart chartID="analytics-apex-avg-session-chart15" [chartConfig]="this.chartDB.avgSessionAACC"></app-apex-chart>
                    </app-card>
                </div>
                <div class="col-md-4 col-xl-2 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>Rejected</span>
                        <h3>{{Sf_dash_Gaz.nbrSf_Rejected}}</h3>
                        <app-apex-chart chartID="analytics-apex-bounce-rate-chart16" [chartConfig]="this.chartDB.bounceRateAACC"></app-apex-chart>
                    </app-card>
                </div>
            </div>
        </app-card>
        <app-card cardTitle="Informations Meters Gaz " [options]="false">
            <div class="row no-gutters" style="margin-left: 5%;">
                <div class="col-md-4 col-xl-2 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>Totale</span>
                        <h3>{{meterDash_Gaz.TotalMeterGaz}}</h3>
                        <app-apex-chart chartID="analytics-apex-user-chart17" [chartConfig]="this.chartDB.userAACC"></app-apex-chart>
                    </app-card>
                </div>
                <div class="col-md-4 col-xl-2 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>Provisioned</span>
                        <h3>{{meterDash_Gaz.MeterProvisionedGaz}}</h3>
                        <app-apex-chart chartID="analytics-apex-session-chart18" [chartConfig]="this.chartDB.sessionAACC"></app-apex-chart>
                    </app-card>
                </div>
                <div class="col-md-4 col-xl-2 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>Discoverd</span>
                        <h3>{{meterDash_Gaz.MeterDiscoverdGaz}}</h3>
                        <app-apex-chart chartID="analytics-apex-page-view-chart19" [chartConfig]="this.chartDB.pageViewAACC"></app-apex-chart>
                    </app-card>
                </div>
                <div class="col-md-4 col-xl-2 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>Installed</span>
                        <h3>{{meterDash_Gaz.MeterInstalledGaz}}</h3>
                        <app-apex-chart chartID="analytics-apex-page-session-chart20" [chartConfig]="this.chartDB.pageSessionAACC"></app-apex-chart>
                    </app-card>
                </div>
                <div class="col-md-5 col-xl-3 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>Reconcelition Pending</span>
                        <h3>{{meterDash_Gaz.Meter_Reconcilition_PendingGaz}}</h3>
                        <app-apex-chart chartID="analytics-apex-avg-session-chart21" [chartConfig]="this.chartDB.avgSessionAACC"></app-apex-chart>
                    </app-card>
                </div>
            </div>
            <div class="row no-gutters" style="margin-left: 5%;">
                <div class="col-md-5 col-xl-3 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>Activation Pending</span>
                        <h3>{{meterDash_Gaz.Meter_Activation_PendingGaz}}</h3>
                        <app-apex-chart chartID="analytics-apex-user-chart22" [chartConfig]="this.chartDB.userAACC"></app-apex-chart>
                    </app-card>
                </div>
                <div class="col-md-4 col-xl-2 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>Activated</span>
                        <h3>{{meterDash_Gaz.MeterActivatedGaz}}</h3>
                        <app-apex-chart chartID="analytics-apex-session-chart23" [chartConfig]="this.chartDB.sessionAACC"></app-apex-chart>
                    </app-card>
                </div>
                <div class="col-md-4 col-xl-2 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>Activated Failed</span>
                        <h3>{{meterDash_Gaz.MeterActivated_FailedGaz}}</h3>
                        <app-apex-chart chartID="analytics-apex-page-view-chart24" [chartConfig]="this.chartDB.pageViewAACC"></app-apex-chart>
                    </app-card>
                </div>
                <div class="col-md-4 col-xl-2 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>Deleted</span>
                        <h3>{{meterDash_Gaz.MeterDeletedGaz}}</h3>
                        <app-apex-chart chartID="analytics-apex-page-session-chart25" [chartConfig]="this.chartDB.pageSessionAACC"></app-apex-chart>
                    </app-card>
                </div>
                <div class="col-md-4 col-xl-2 col-sm-6">
                    <app-card [hidHeader]="true">
                        <span>Scraped</span>
                        <h3>{{meterDash_Gaz.MeterScrapedGaz}}</h3>
                        <app-apex-chart chartID="analytics-apex-avg-session-chart26" [chartConfig]="this.chartDB.avgSessionAACC"></app-apex-chart>
                    </app-card>
                </div>

            </div>
        </app-card>

    </div>




    <div class="col-xl-12">
        <app-card cardTitle="Daily Visitor" [options]="false">
            <app-apex-chart chartID="daily-visitor-aa-cc" [chartConfig]="this.chartDB.dailyVisitorAACC" [xAxis]="dailyVisitorAxis"></app-apex-chart>

        </app-card>

    </div>



</div>